h1, .iconPicker, .winLoseTie{
  display: flex;
  justify-content: center;
}

.placeToSeeChoice{
  display: flex;
  justify-content: space-between;
  margin: 0 30%;  
}

footer{
  margin-top: 30%;
}

.imageReferences{
  display: flex;
  flex-direction: column;
}